{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
  <div class="info-box">
    {% block content %}
    {% if content.field_info_box_headline.0 %}
    <div class="info-box__headline">
      {{ content.field_info_box_headline.0 }}
    </div>
    {% endif %}
    {% if content.field_info_box_text.0 %}
    <div class="info-box__text">
      {{ content.field_info_box_text.0 }}
    </div>
    {% endif %}
    {% if content.field_info_box_tel.0 %}
    <div class="info-box__link icon--tel">
      <a href="tel:{{ content.field_info_box_tel.0 }}">{{ content.field_info_box_tel.0 }}</a>
    </div>
    {% endif %}
    {% if content.field_info_box_email.0 %}
    <div class="info-box__link icon--email">
      <a href="mailto:{{ content.field_info_box_email.0 }}">{{ content.field_info_box_email.0 }}</a>
    </div>
    {% endif %}
    {% endblock %}
  </div>
{% endblock paragraph %}
